p {
   color: #000;
   font:13px verdana;
}

body {
   color: #000;
   font:13px verdana;
   margin: 0px;
}

table {
   border-collapse:collapse;
}

td {
   padding: 5px;
}

input {
   padding: 4px;
}

select {
   padding-top: 4px;
   padding-bottom: 4px;
   padding-right: 4px;
}

.highlight:hover {
  background-color: #E6E8FA;
}

#rate {
  color: #000;
  text-align:center;
  font:10px verdana;
  position:relative;
}

/* Top */

#wrapper_top {
  background: #FF6103; /* for non-css3 browsers */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CC1100', endColorstr='#FF6103'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#CC1100), to(#FF6103)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #CC1100,  #FF6103); /* for firefox 3.6+ */ 
  position: relative;
}

#top_content {
  width: 800px;
  height: 70px;
  position:relative;
  margin:auto;
}

#logo {
  width: 300px;
  bottom: 20px;
  position: absolute;
  color: #fff;
  font:30px verdana;
}

#menu  {
  width: 600px;
  height: 50px;
  position: absolute;
  bottom: 9px;
  right: 0px;
  color: #fff;
  font:30px verdana;
}

.menu_item {
  color: #fff;
  font: 17px verdana;
  font-weight: bold;
  text-decoration: none;
}

.menu_item:hover {
  color: #FCE6C9;
  font: 17px verdana;
  font-weight: bold;
  text-decoration: none;
}

.menu_list_item {
     display: inline;
     line-height: 20px;
     padding-right: 30px;
     padding-left: 30px; 
     padding-bottom: 10px;
     margin-right: 0px;
}

/* Main */
#wrapper_main {
  background-image:url(/images/bg.png);
  position: relative;
}

#main_content {
  padding: 20px ;
  width: 760px;
  min-height: 600px;
  position:relative;
  margin:auto;
}

/* Setup General Layout */

#form_input {
  width: 570px;
  min-height: 300px;
  margin: auto;
  border: 1px solid gray;
  background-color: white;
  opacity: 0.8;
  padding: 10px;
  position: relative;
}

.submit_button {
  position: absolute;
  right: 20px;
  bottom: 20px;
}


/* Team Setup Page */

#setup_team {
  border-spacing: 5px;
}

#rowcount {
  float: right;
  font-size: 15px;
  margin-right: 35px;
}

.setup_team_member {
  width: 190px;
  padding: 5px;
  border: 1px solid gray;
}