  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 

<html>
<head>
<title>High Five - {% block title %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="/css/stylesheet.css" media="all">

{% block head %}
{% endblock %}
</head>

<body>
<div id="wrapper_top">
  <div id="top_content">
    <div id="logo">High Five
    </div>
    <div id="menu">
    <ol style="text-align:right; margin-top:2px;">
    <li class="menu_list_item" style="border-right: 1px solid rgba(0, 0, 0, 0.1);"><a href="#" class="menu_item">Features</a></li>
    <li class="menu_list_item" style="border-left: 1px solid rgba(255, 255, 255, 0.3); border-right: 1px solid rgba(0, 0, 0, 0.1);"><a href="#" class="menu_item">Pricing</a></li>    
    <li class="menu_list_item" style="border-left: 1px solid rgba(255, 255, 255, 0.3);"><a href="/setup-account" class="menu_item">Get Started</a></li>
    </ol>
    </div>
  </div>
</div>

<div id="wrapper_main">
  <div id="main_content">
    {% block content %}
    {% endblock %}
  </div>
</div>

</body> 
</html>