{% extends 'base.html' %}

{% block title %}Schedule{% endblock %}

{% block head %}
<script src="/js/jquery.min.js"></script>

<script type='text/javascript'>
</script>

{% endblock %}

{% block content %}
<h1>Confirmation</h1> 
<br />
<div id="form_input">
<p>Done! You have succesfully scheduled your survey.</p>
<p>A confirmation has been sent to your email address.<br/>
To make changes, please use the link in the email.</p>
<p>Thank you for using Project Intel.<br/>
To improve our services, we would appreciate any feedback about the signup process below</p>
<p>RATING + TEXT FIELD</p>
</div>

{% endblock %}